/* h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
} */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Tour{
    
    /* border: 2px solid green; */
    button{
        display: block;
        margin-top: 10px;
    }
}

.tours{
    display: flex;
    /* display: grid;
    grid-template-columns: 50% 50%; */
}